*{
	margin:0; padding:0;	
}
ul, li {
	list-style-type:none;
	margin:0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
a {
  color: #303030;
  text-decoration:none;
}
img { 
    border:0;
    vertical-align:middle;
}
textarea {
	font-family:'Microsoft Yahei';
}
body {
	color:#303030;
	background:#f0f0f0;
	font-size:4vw;
}
table {
	 border-collapse:collapse;
}
input {
	border:0;
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.weui-p15 {
	padding:15px;
}
.weui-wrap {
	width:100%;
	overflow:hidden;
}
.weui-main {
	padding-bottom:70px;
}
.weui-f_b {
	font-weight:bold;
}
.weui-v_m {
	vertical-align:middle;
}
.weui-v_t {
	vertical-align:top;
}
.weui-fl { 
    float:left;
}
.weui-fr {
	float:right;
}
.weui-db {
	display:block;
}
.weui-dnb {
	display:inline-block;
}
.weui-d_n {
	display:none;
}
.weui-bod_r50 {
	border-radius:50%;
}
.weui-bod_r {
	border-radius:5px;
}
.weui-p1 {
	padding:1px;
}
.weui-p20 {
	padding:5vw;
}
.weui-pt5 {
	padding-top:5px;
}
.weui-pb5 {
	padding-bottom:5px;
}
.weui-pl5 {
	padding-left:5px;
}
.weui-pr5 {
	padding-right:5px;
}
.weui-pt10 {
	padding-top:10px;
}
.weui-pb10 {
	padding-bottom:10px;
}
.weui-pl10 {
	padding-left:10px;
}
.weui-pr10 {
	padding-right:10px;
}
.weui-pt15 {
	padding-top:15px;
}
.weui-pl15 {
	padding-left:15px;
}
.weui-pr15 {
	padding-right:15px;
}
.weui-pb15 {
	padding-bottom:15px;
}
.weui-pr20 {
	padding-right:20px;
}
.weui-pb20 {
	padding-bottom:20px;
}
.weui-pl20 {
	padding-left:20px;
}
.weui-pt20 {
	padding-top:5vw;
}
.weui-pr25 {
	padding-right:25px;
}
.weui-pb25 {
	padding-bottom:25px;
}
.weui-pl25 {
	padding-left:25px;
}
.weui-pt25 {
	padding-top:25px;
}
.weui-pr30 {
	padding-right:30px;
}
.weui-pb30 {
	padding-bottom:30px;
}
.weui-pl30 {
	padding-left:30px;
}
.weui-pt30 {
	padding-top:30px;
}
.weui-mt5 {
	padding-top:5px;
}
.weui-mb5 {
	margin-bottom:5px;
}
.weui-ml5 {
	margin-left:5px;
}
.weui-mr5 {
	margin-right:5px;
}
.weui-mt10 {
	margin-top:10px;
}
.weui-mb10 {
	margin-bottom:10px;
}
.weui-ml10 {
	margin-left:10px;
}
.weui-mr10 {
	margin-right:10px;
}
.weui-mt15 {
	margin-top:15px;
}
.weui-ml15 {
	margin-left:15px;
}
.weui-mr15 {
	margin-right:15px;
}
.weui-mb15 {
	margin-bottom:15px;
}
.weui-mr20 {
	margin-right:20px;
}
.weui-mb20 {
	margin-bottom:20px;
}
.weui-ml20 {
	margin-eft:20px;
}
.weui-mt20 {
	margin-top:5vw;
}
.weui-mr25 {
	margin-right:25px;
}
.weui-mb25 {
	margin-bottom:25px;
}
.weui-ml25 {
	margin-left:25px;
}
.weui-mt25 {
	margin-top:25px;
}
.weui-mr30 {
	margin-right:30px;
}
.weui-mb30 {
	margin-bottom:30px;
}
.weui-ml30 {
	margin-left:30px;
}
.weui-mt30 {
	margin-top:30px;
}
.weui-t_c {
	text-align:center;
}
.weui-t_r {
	text-align:right;
}
.weui-t_l {
	text-align:left;
}
.weui-f36 {
	font-size:36px;
}
.weui-f32 {
	font-size:32px;
}
.weui-f30 {
	font-size:30px;
}
.weui-f28 {
	font-size:28px;
}
.weui-f24 {
	font-size:8vw;
}
.weui-f22 {
	font-size:22px;
}
.weui-f20 {
	font-size:20px;
}
.weui-f12 {
	font-size:3vw;
}
.weui-f18 {
	font-size:18px;
}
.weui-f16 {
	font-size:5vw;
}
.weui-f14 {
	font-size:14px;
}
.weui-bod {
	border:1px solid #e5e5e5;
}
.weui-b_r {
	border-right:1px solid #e5e5e5;
}
.weui-b_t {
	border-top:1px solid #e1e1e1;
}
.weui-b_r {
	border-right:1px solid #ddd;
}
.weui-bb_d {
	border-bottom:1px dotted #ddd;
}
.weui-bb {
	border-bottom:1px solid #e5e5e5;
}
.weui-b_l {
	border-left:1px solid #ddd;
}

.weui-lh30 {
	line-height:8vw;
}
.weui-t_d {
	text-decoration:underline;
}

.weui-p_r {
	position:relative;
}
.weui-c_p {
	cursor:pointer;
}
.weui-bgcolor01 {
	background:#f0eeef;
}
.weui-c_6 {
	color:#666;
}
.weui-white { 
  color:#fff;
}
.weui-red {
	color:#ea5628;
}
.weui-c_9 {
	color:#999;
}
.weui-yellow {
	color:#fcdd80;
}
.weui-blue{
	color:#43a0fc;
}
.weui-red01 {
	color:#d7321a;
}
.weui-bgf {
	background:#fff;
}
.weui-orange {
	color:#f3522a;
}
.weui-box_s {
	box-shadow:0 5px 20px #ccc;
}
.weui-td2 {
	text-indent:2em;
}
.weui-bgcolor {
	background:#f5f5f5;
}
.weui-green {
	color:#51aa38;
}

 input::-webkit-input-placeholder{
            color:#b9b9b9;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#b9b9b9;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#b9b9b9;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
            color:#b9b9b9;
        }

html,body {
	min-height:100%;
}
.p10 {
	padding:10px;
}


/*footer*/

.weui-tabbar {
	position:fixed;
}
.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
	color:#f3522a;
}
.weui-tabbar__icon {
	height:7vw;
	width:auto;
}

.header {
	background:#f3522a;
	padding:2vw 0;
}
.return {
	position:absolute;
	left:3vw;
}
.weui-input,.weui-btn,.weui-cells {
	font-size:4vw;
}
.weui-btn_warn {
	background:#f3522a;
}

/*活动*/
.yaoqing {
	border-radius:2vw;
	background:#fff;
	border:1vw solid #288ddb;
	padding:6vw 4vw 4vw;
	position:relative;
	margin-bottom:8vw;
}
.yqbg {
	background:#fdf4d6;
	border-radius:1vw;
	text-align:center;
}
.yqbg h3 {
	color:#645216;
	border-bottom:1px solid #f8ecc3;
	padding:1.5vw 0;
}
.yaoqing >span {
	background:#288ddb;
	color:#fff;
	border-radius:1vw;
	padding:1vw 2vw;
	position:absolute;
	font-size:5vw;
	top:-5vw;
	left:50%;
	margin-left:-14vw;
}
.share {
	position:fixed;
	width:100%;
	box-sizing:border-box;
	left:0;
	bottom:0;
}
.close {
	position:absolute;
	width:4vw;
	right:5vw;
	top:6vw;
}


/*启动页*/

.qd_txt {
	font-size:8vw;
	color:#f4594d;
	padding:3vw 0 2vw 0;
}

/*邀请记录*/
.table td,.table th {
	padding:2vw 3vw;
	text-align:left;
}
.jlcolor {
	color:#ffc2b5;
}
.weui-btn_wh {
	background:#fff;
	color:#f3522a;
}
/*专属客服*/
.weui-btn_primary {
	background:#4873ff;
}
.weui-btn_hui {
	background:#909090;
}
.zskf {
	font-size:15vw;
	color:#ee5f4b;
	font-weight:bold;
	padding:5vw 0;
}
.zskf_bg {
	background:#ee5f4b;
	padding-bottom:12vw;
}

/*已绑定银行卡*/
.weui-btn_warn1 {
	color:#f3522a;
	border:1px solid #f3522a;
}
.card {
	border-radius:1vw;
	background:#ff724f;
}
.bq {
	background:#f3522a;
	color:#fff;
	border-radius:1vw;
	padding:0 2vw;
}
button.weui-vcode-btn {
	background:#f3522a;
	border-radius:1vw;
	font-size:4vw;
	color:#fff;
	margin:2vw;
	height:10vw;
	line-height:10vw;
}

/*搜索*/
.weui-search-bar {
	background:#f3522a;
}
.weui-search-bar__cancel-btn {
	color:#fff;
}
.weui-search-bar__form {
	background:none;
}
.bq1 {
	background:#dbe8ff;
	color:#4873ff;
}
/*理财*/
.bq01 {
	background:#4873ff;
}
.jt {
	background:url(../images/jta_05.png) center no-repeat;
	display:inline-block;
	width:2vw;
	height:4vw;
	background-size:auto 100%;
	vertical-align:middle;
}
.weui_sh a.on {
	color:#f3522a;
}
.weui_sh a.on .jt {
	background:url(../images/jta_03.png) center no-repeat;
	background-size:auto 100%;
}
.weui-dialog__ft {
	font-size:4.5vw;
}
.bq2 {
	background:#ffcdc0;
	color:#f3522a;
}
.weui-navbar__item:after {
	border:none;
}
.weui-navbar__item.weui-bar__item--on {
	background:none;
	color:#f3522a;
}
.weui-navbar__item {
	padding:0;
}
.weui-navbar__item span {
	display:inline-block;
	padding:2vw 0;
}
.weui-navbar__item.weui-bar__item--on span {
	border-bottom:2px solid #f3522a;
}
.weui-navbar + .weui-tab__bd {
	padding-top:11vw;
}
.bq3 {
	color:#909090;
	background:#f0f0f0;
}

/*我的红包*/
.hbbg {
	background:#f33d2a;
	color:#fff;
}
.hbbg_c:after {
	content:'';
	display:block;
	position:absolute;
	left:-2.5vw;
	top:0;
	bottom:0;
	width:5vw;
	background:url(../images/card_05.png) center no-repeat;
	background-size:100% 100%;
}
.hbbg_c:before {
	content:'';
	display:block;
	position:absolute;
	right:-1.5vw;
	top:0;
	bottom:0;
	width:1.5vw;
	background:url(../images/card_07.png) center no-repeat;
	background-size:100% 100%;
}
.hbbg_l:before {
	content:'';
	display:block;
	position:absolute;
	left:-1.5vw;
	top:0;
	bottom:0;
	width:1.5vw;
	background:url(../images/card_03.png) center no-repeat;
	background-size:100% 100%;
}

.hbbg1 {
	background:#b0b0b0;
	color:#fff;
}
.hbbg_l1:before {
	content:'';
	display:block;
	position:absolute;
	left:-1.5vw;
	top:0;
	bottom:0;
	width:1.5vw;
	background:url(../images/g_07.png) center no-repeat;
	background-size:100% 100%;
}
.hbbg_c1:after {
	content:'';
	display:block;
	position:absolute;
	left:-2.5vw;
	top:0;
	bottom:0;
	width:5vw;
	background:url(../images/g_09.png) center no-repeat;
	background-size:100% 100%;
}
.hbbg_c1:before {
	content:'';
	display:block;
	position:absolute;
	right:-1.5vw;
	top:0;
	bottom:0;
	width:1.5vw;
	background:url(../images/hb.png) center no-repeat;
	background-size:100% 100%;
}
.gq_img {
	position:absolute;
	width:30vw;
	right:2vw;
	top:4vw;
}
.centerbg {
	background:#f3522a;
	height:20vw;
}
.zskf_a {
	background:#4873ff;
	border-radius:3vw 0 0 3vw;
	color:#fff;
	padding:1vw 3vw;
	margin-right:-15px;
}

/*投资详情*/
.item_top {
	background:#f3522a;
}
.more {
	color:#4873ff;
	background:#dbe8ff;
	padding:3vw 0;
	text-align:center;
}
.weui-footer_fixed-bottom {
	bottom:0;
}
.weui-btn_r {
	border-radius:0;
}
.weui-btn_r:after {
	border-radius:0;
}
.title_xq {
	background:url(../images/jt_03.png) right center no-repeat;
	background-size:5vw auto;
}
.title_xq.on {
	background:url(../images/jt_06.png) right center no-repeat;
	background-size:5vw auto;
}

/*新手引导*/

.xs_bg {
	background:#fb5f3a;
	padding:10vw 15% 5vw;
}
.xs_bg>div {
	border:1px solid #fff;
	padding:8vw 0 3vw 0;
	position:relative;
}
.xs_bg>div span {
	background:#fb5f3a;
	font-size:10vw;
	position:absolute;
	top:-8vw;
	left:15vw;
}
.tip {
	border:2px solid #fb5f3a;
}
.circle {
	width:10vw;
	line-height:10vw;
	background:#ff6b4c;
}
.ydbg {
	background:#ff6b4c;
	padding:0 3vw;
}
.ydbg:before {
	content:'';
	display:block;
	position:absolute;
	background:url(../images/sj.png) center no-repeat;
	background-size:4vw auto;
	width:4vw;
	height:4vw;
	left:-3.5vw;
	top:50%;
	margin-top:-2vw;
}
.line {
	background:url(../images/line_03.png) center top repeat-y;
}

/*首页*/

.h_title:before {
	position:absolute;
	content:'';
	width:34vw;
	height:1px;
	background:#999;
	left:-36vw;
	top:4vw;
}
.h_title:after {
	position:absolute;
	content:'';
	width:34vw;
	height:1px;
	background:#999;
	right:-36vw;
	top:4vw;
}
.news {
	background:url(../images/h_05.png) 4vw center no-repeat;
	padding:3vw 3vw 3vw 12vw;
	background-size:6vw auto;
}
.swiper-pagination-bullet-active {
	background:#fff;
}
.search {
	position:absolute;
	top:3vw;
	right:3vw;
	width:10vw;
	display:block;
	z-index:100;
}
.weui-dialog1 {
	background:none;
	overflow:inherit;
}
.renbox {
	background:#fdf2df;
	border:3px solid #ffde3f;
	border-radius:0 0 2vw 2vw;
	border-top:none;
	width:80%;
	margin:0 auto;
	padding:2vw 0 7vw;
 }
.lq_a {
	background:#ff8a09;
	border-bottom:3px solid #d27815;
	border-radius:1vw;
	color:#fff;
	padding:3vw 10vw;
}
.close1 {
	position:absolute;
	top:-15%;
	right:0;
	width:8vw;
}
.tip1 {
	background:rgba(0,0,0,0.5);
	padding:2vw 5vw;
	color:#fff;
	margin-top:30vw;
	
}

.weui-tabbar__item {
	padding:4vw 0 2vw;
}

/*理财活动第一期*/
.hdgz {
	background:rgba(255,255,255,0.3);
	padding:3vw;
	border-radius:2vw;
	color:#fff;
}
.hdgz h3 {
	color:#1e3c42;
	text-align:center;
	background:url(../images/l_04.png) center no-repeat;
	background-size:100% auto;
	font-size:4.5vw;
}
.part2 {
	background:#fb9a4f;
	border-radius:2vw;
	margin-top:10vw;
}
.part2 >h2 {
	background:#1a8295;
	border-radius:2vw;
	padding:2vw 0;
	color:#fff;
	text-align:center;
	position:relative;
}
.part2 >h2:before {
	content:'';
	position:absolute;
	left:3vw;
	top:3vw;
	width:5vw;
	height:5vw;
	background:url(../images/l_08.png) center no-repeat;
	background-size:100% 100%;
	display:block;
}
.part2 >h2:after {
	content:'';
	position:absolute;
	right:3vw;
	top:3vw;
	width:5vw;
	height:5vw;
	background:url(../images/l_08.png) center no-repeat;
	background-size:100% 100%;
	display:block;
}
.jr_box {
	background:rgba(255,255,255,0.8);
	padding:3vw;
	border-radius:2vw;
	margin:2vw 0;
}
.weui-btn_warn1 {
	background:#f4934b;
	border-radius:2vw;
	border:0;
	border-bottom:3px solid #d03d1f;
	color:#fff;
}






























