<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户总览-理财先生（互金导购平台）</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="bookmark" href="../favicon.ico" type="image/x-icon"  />
    <link rel="icon" href="../favicon.ico" type="image/x-icon"  />
    <link rel="stylesheet" href="../cs/cs.css">
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?68b8985e6ab63a0e416c673449143aa6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?74281828e39a57f158c5d0564f7117ee";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<style>


    .layui-layer-content {
        z-index:10;
        width:100%;
        height:1000px;
        position:fixed;
        /*left:50%;*/
        /*top:50%;*/
        background-color:rgba(96,96,96,0.7);

    }
</style>
<body>
<div class="head_nav">
    <div class="nav_box">
        <div class="nav_up">
            <div class="nav_up_content">
                <!-- <span style="margin-right:40px ">客服热线：400-060-8807</span> -->
                <div id="loginbox" style="display: inline-block" >
                    <a href="../login/login.html">你好，请登录</a>
                    <a href="../login/signin.html" style="margin-right: 26px;display: inline-block">免费注册</a></div>
                <!-- <div class="phone" id="phone" style="display: inline-block">
                    手机金融
                    <img src="../img/icon_phone_next.png" height="9" width="16"/>
                    <div class="phone_BQ_box" id="phone_BQ">
                        <div class="phone_BQ" >
                            <img src="../img/pic_phone_QR.png" height="65" width="65"/>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="nav_down">
            <div class="nav_down_left"></div>
            <div class="nav_down_right">
                <a href="../index.html">首页</a>
                <a href="../prefecture/first_tou3.html?s_type=1">稳健专区</a>
                <a href="../prefecture/first_tou3.html?s_type=2">高返专区</a>
                <a href="../guide/guide2.html">新手指引</a>
                <a href="../about/about_company_profile2.html" >关于我们</a>
            </div>
        </div>
    </div>
</div>
<!--主体-->
<div class="pandect_main" id="user_cont">
    <!--主体头部-->
    <div class="option_box">
        <div class="option_top">
            <a href="user_pandect.html" class="option_active">账户总览</a>
            <a href="user_set.html">账户设置</a>
            <a href="user_yq.html">邀请好友一起投资</a>
            <a href="user_hb.html">账户红包</a>
            <div id="kk" class="float_right">
                <span style="margin-right: 20px" v-if="mobilefull == null">欢迎您，...</span>
                <span style="margin-right: 20px" v-else v-cloak>欢迎您,{{mobilefull}}</span>
                <span v-if="ucode == null">您的邀请ID：--</span>
                <span v-else v-cloak>您的邀请ID：{{ucode}}</span>
            </div>
        </div>
    </div>
    <!--//详情弹框-->

    <div style="display:none" id="details_box">
        <div class="appionit_sureBoxBgg" style="display: block;" id="sureBoxBg"></div>
        <div class="red_detailss">
            <div class="red_closes" id="close"></div>
            <div class="red_details_tops" style="display: block"></div>
            <div class="red_contents">
                <div class="red_content_one">
                    <div class="red_content_one">
                        <div class="red_border"></div>
                        <div class="red_title">新手红包使用规则</div>
                        <div class="red_border"></div>
                    </div>
                </div>
                <ul>
                    <li style="margin:5px 0;">1.首次投资回单</li>
                    <li style="margin:5px 0;">2.用户领取红包后提交投资回单，才可使用红包</li>
                    <li style="margin:5px 0;">3.主要条件：首单10000元以上 ；30天以上投资 ，方才可以获得红包</li>
                </ul>
                <div class="red_content_tow ">
                    <div class="red_content_one">
                        <div class="red_border"></div>
                        <div class="red_title">红包使用规则</div>
                        <div class="red_border"></div>
                    </div>
                    <span>1.红包仅限90天有效，过期作废。</span>
                    <br>
                    <span>2.每个账户，最多拥有1个红包。</span>
                    <br>
                    <span>3.用户领取红包，需在红包有效期内完成投资回单（以回单通过审核为准），否则用户将无法使用红包。</span>
                    <br>
                    <!--<span>4.一个分享红包可分享给多个好友，好友进行注册后以有效期内首个提交回单的审核为准！</span>-->
                    <span>4.如发现用户切换账户套取红包奖励，将取消奖励。</span>
                </div>
            </div>
        </div>
    </div>
    <!--这里是使用说明-->

    <!--账户金额信息、优惠券-->
    <div class="user_info">
        <!--有效-->
        <div class="float_left user_info_left">
            <img src="../img/pic_pandect_icon.png" height="40" width="49"/>
            <ul class="user_money">
                <li>
                    <span>理财先生 累计收益</span>
                    <span>
                                <span style="display: inline-block" class="red_color character_fz4" v-if="hasdata">获取中</span>
                                <span style="display: inline-block" class="red_color character_fz4" v-else v-cloak>{{sumMoney}}</span>
                                元
                            </span>
                </li>
                <li><span>理财先生 今日收益</span>
                    <span>
                                <span style="display: inline-block" class="red_color character_fz4" v-if="hasdata">获取中</span>
                                <span style="display: inline-block" class="red_color character_fz4"  v-else v-cloak>{{dayMoney}}</span>
                                元
                            </span>
                </li>
                <li><span>等待审核回单数</span>
                    <span>
                                <span style="display: inline-block" class="red_color character_fz4" v-if="hasdata">获取中</span>
                                <span style="display: inline-block" class="red_color character_fz4" v-else v-cloak>{{waitingNum}}</span>笔
                            </span>
                </li>

                <li class="us">
                    <br>
                    <span>
                              	专属客服
                              	<span v-if="!kf">
                              	暂无
                            </span>
                            <span v-else>
                              	{{kf}}
                            </span>
                            </span>
                   
                </li>
          <!--       <li class="us">
                    <br>
                    <span>
                             返现出现问题客服
                            </span>
                    <span style="width: 50px">

                                <span style="display: inline-block" >
                                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=136720107&site=qq&menu=yes"><div class="QQ_boxx hg" ></div></a>
                                </span>
                            </span>
                </li> -->

            </ul>
        </div>
        <!--失效-->
        <div class="float_right user_info_right"  id="you">
            <a href="./user_hb.html">
            <img src="../images/hhh.png" alt=""style="width: 635px;height: 250px"></a>
            <!--<div class="xq" id="red_details">-->
                <!--红包使用说明-->
            <!--</div>-->
            <!--<strong class="red_color character_fz3" v-cloak>{{reddata.money}}元</strong>-->

            <!--<input type="button" :value="reddata.type" v-if='reddata.type=="立即领取"' onclick="receive()" class="info_right_btn">-->
            <!--<input type="button" :value="reddata.type"  v-else class="info_right_btn">-->
            <!--<span v-cloak>有效截至日期：{{reddata.dtime}}</span>-->
        </div>
        <!--<div class="float_right user_info_right2" style="display: none" id="wu">-->
            <!--&lt;!&ndash;<strong class="character_fz6" v-cloak>{{reddata.money}}元</strong>&ndash;&gt;-->
            <!--&lt;!&ndash;<span v-cloak>有效截至日期：{{reddata.dtime}}</span>&ndash;&gt;-->
        <!--</div>-->
    </div>
    <!--账户已投平台列表-->
    <div class="info_details">
        <!--平台搜索框-->
        <div class="info_details_search">
        	<div style="padding: 37px 0px 0px 100px">
	            <input type="text" id="srk" style="width: 300px;height: 33px">
	            <input type="button" value="立即查询" class="info_details_btn" onclick="getprolsit(0)">
            </div>
        </div>
        <!--列表头部-->
        <div class="info_details_title">
            <span>提交时间</span>
            <span>投资平台</span>
            <span style="margin-right: 270px">回单内容</span>
            <span>投资期限</span>
            <span>返利金额</span>
            <span>红包金额</span>
            <span>返利时间</span>
            <span>当前状态</span>
        </div>
        <!--列表内容-->
        <div v-cloak class="info_details_item" v-for="(orderItem,index) in orderlist">
            <div class="info_details_item_div">
                <span v-cloak>{{orderItem.ctime}}</span>
            </div>
            <div style="width: 120px;text-align: center;margin-right: 18px">
                <span v-cloak>{{orderItem.pname}}</span>
            </div>
            <div style="margin:0 0 0 20px" class="info_details_item_div3">
                <span v-cloak>平台注册用户名：{{orderItem.realname}}；平台注册手机号码：{{orderItem.phone}}；投资时间：{{orderItem.ttime}}；投资标的：{{orderItem.typestz}}；</span>
            </div>
            <div style="width: 120px;text-align: center;margin-right: 18px">
                <span v-cloak>{{orderItem.dtime}}天</span>
            </div>
            <div style="width: 120px;text-align: center;margin-right: 18px">
                <span v-cloak>{{orderItem.money}}元</span>
            </div>
            <div style="width: 120px;text-align: center;margin-right: 18px">
                <span v-cloak>{{orderItem.red}}元</span>
            </div>
            <div style="text-align: center;margin-right: 18px">
                <span>{{orderItem.ftime}}个工作日</span>
            </div>
            <div style="margin-left: 40px" class="info_details_item_div2">
                <div v-cloak>{{orderItem.status}}</div>
                <div v-cloak style="color:red;" v-if="orderItem.status=='已驳回'">({{(orderItem.context)}})</div>
            </div>
        </div>
        <div class="c2-page">
            <a id="prevId" class="disable-button"  href="javascript:void(0)">上一页</a>
            <ul class="page-list">
                <!-- 页码 -->
            </ul>
            <a id="nextId" class="nextpage page-button" href="javascript:void(0)" >下一页</a>
        </div>
    </div>
    <!-- 弹框 -->
    <div id="sureBoxBg" class="appionit_sureBoxBg" style="display: none;"></div>
    <div class="receipt_box" id="receipt_box" style="display: none;">
        <div class="receipt_box_item">
            <span>实际投资金额</span>
            <input type="text" class="receipt_box_item_input1"  name="money" placeholder="请准确填写金额" v-model="shopmoney">
            <img src="../img/icon_revise_cancel.png" height="17" width="16" class="float_right" style="margin-top: 10px" id="receipt_cancel"/>
        </div>
        <div class="receipt_box_item">
            <span>注册手机号码（活动平台的注册手机号）</span>
            <input type="text" class="receipt_box_item_input1" name="pmobile" placeholder="请仔细核对您的号码" v-model="pmobile">
        </div>
        <div class="receipt_box_item">
            <span>注册平台用户名（活动平台用户名，非理财先生用户名）</span>
            <input type="text" class="receipt_box_item_input2" name="pname" placeholder="如没有请忽略" v-model="pname">
        </div>
        <div class="receipt_box_item">
            <span>所选方案</span>
            <select v-model="case_id"  class="receipt_box_item_select">
                <option v-for="caseNoItem in caseNolist" :data-value ="caseNoItem.id" :data-amoney="caseNoItem.amoney" :value="caseNoItem.id" v-cloak>{{caseNoItem.serialnumber}}</option>
            </select>
            <span style="margin-left: 75px">投资日期</span>
            <input type="text" class="demo-input" placeholder="请选择日期" id="regtime" name="regtime">
        </div>
        <div class="receipt_box_item">
            <span>选择银行卡</span>
            <select name="bank" id="bank" class="receipt_box_item_select2">

            </select>
        </div>
        <div class="receipt_box_item">
            <span>银行卡账号（返利金额收款账号）</span>
            <input type="text" id="bank_account" name="bank_account" v-model="bank_account" class="receipt_box_item_input1">
        </div>
        <div class="receipt_box_item">
            <span>银行卡姓名</span>
            <input type="text" id="bank_name" name="bank_name" v-model="bank_name" class="receipt_box_item_input2">
        </div>
        <div class="receipt_box_item">
            <span>选择开户行省份</span>
            <select name="bank_addr_province" id="bank_addr_province" onclick="getcity();" class="receipt_box_item_select2">
            </select>
        </div>
        <div class="receipt_box_item">
            <span>选择开户行城市</span>
            <select name="bank_addr_city" id="bank_addr_city" class="receipt_box_item_select2">
            </select>
        </div>
        <div class="receipt_box_item">
            <span>开户行详细地址</span>
            <input type="text" id="bank_addr" name="bank_addr"  :value="bank_addr" class="receipt_box_item_input2">
        </div>
        <div class="receipt_box_item_btn_div">
            <input type="button" value="立即修改" @click="sure_edit()" class="receipt_box_item_btn"/>
        </div>
    </div>
</div>
<!--底部-->
<div class="foot">
    <div class="details_box">
        <div class="details_box_left">
            <div class="details_box_left_up">
                <span>了解理财先生</span>
                <a href="../about/about_company_profile2.html">关于我们</a>
                <a href="../about/about_company_profile2.html#tab=2">网站公告</a>
                <a href="../about/about_company_profile2.html#tab=3">常见问题</a>
                <a href="../login/tcp.html">用户协议</a>
            </div>
            <div>
                <span>联系我们</span>
                <span>商务合作电话：</span>
                <span>15158418101  包先生</span>

            </div>
           <!--  <div>
                <span >理财先生官方1群：615973220</span>
                <span >理财先生官方2群：591389147</span>
            </div>
            <div><span style="color: #556a84">（加群时请备注理财先生）</span></div> -->
        </div>
       <div class="details_box_center">
                <div class="img_iphone">
                    <div>移动端理财</div>
                    <div class="BQ_box"></div>
                </div>
                <div class="img_app"> 
                     <div>APP下载</div>
                    <div class="BQ_app"></div>
                </div> 
            </div>
            <div class="details_box_right">
                <span style="font-size: 24px;">&nbsp;</span>
                <span>服务时间：周一到周五 9:00~20:30 法定节假日 9:00~18:00</span>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=136720107&site=qq&menu=yes"><div ></div></a>
            </div>
        </div>
        <div class="authentication_box">
            <span>Copyright Reserved 2015-2017</span>
            <span>安徽蜀玉金融外包服务有限公司 </span>
            <div style="display: inline-block">
                 <div class="pic_badge_img"></div>
                <span>皖ICP备18004423号-1 </span>
            </div>
        </div>
    </div>
            <script src="../js/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="../js/vue.js"></script>
            <script type="text/javascript" src="../js/public.js"></script>
            <script type="text/javascript" src="../laydate/laydate.js"></script>
            <script>
            var vid = getcookie().vid;
	        if(!vid){
	            window.location.href="../login/login.html";
	            //  return false
	        }
             var vm = new Vue({
                    el:"#user_cont",//读取数据的块
                    data:{
                        reddata:{
                            title:null,
                            money:null,
                            content:null,
                            dtime:null,
                            type:null,
                            red_id:null
                        },
                        hasdata: false,
                        sumMoney:0,//收益总额
                        dayMoney:0,//今日收益
                        waitingNum:0,//等待处理回单
                        nickname:null,//昵称
                        ucode:null,//邀请码
                        mobile:null,//手机号码
                        mobilefull:null,
                        count:0,//已邀请人数
						kf:null,
                        orderlist:[],//回单记录
                        caseNolist:[],//方案列表
						stafflist:[],//客服
                        pname:null,
                        pmobile:null,
                        regtime:null,
                        bank_name:null,
                        serialnumber:null,
                        shopmoney:null,
                        bank_account:null,
                        case_id:null,
                        bank_addr:null,
                        bank:null,
                        bank_addr_city:null,
                        bank_addr_province:null,
                    },
            })
            $(document).ready(function(){
	            var user={
	            	vid:vid
	            }
	            $.ajax({
		          type: "Post",
		          contentType: "application/json; charset=utf-8",
		          url: "queryUserPandectByVid",
		          data:JSON.stringify(user),
		          success: function(data){
		          	 vm.sumMoney = data[0].sumMoney;
		             vm.dayMoney = data[0].dayMoney;
	                 vm.waitingNum = data[0].waitingNum;
	                 vm.kf=data[0].kf;
	                 vm.ucode = data[0].ucode;
	                 var str = data[0].mobile;
	                 vm.mobilefull = str.substr(0,3)+"****"+str.substr(str.length-4);
		          }
	   			})
   			})        
   			var curpage = 1, limit = 4, is_new = true, totalpage ;
                function getprolsit(pageIndex){
                    vm.orderlist = [];//清空数据
                    var srk=$('#srk').val();
	                var user={
		            	vid:vid,
		            	limit:limit,
                        page:pageIndex,
                        owninvitation:srk
		            }
		            $.ajax({
			          type: "Post",
			          contentType: "application/json; charset=utf-8",
			          url: "queryAllMessageByVid",
			          data:JSON.stringify(user),
			          success: function(data){
			          console.log(data);
                         for(var i = 0; i < data.length; i++){
                          vm.orderlist.push(data[i]);
	               	     }
	                	  if(is_new){
                              totalpage = parseInt(data[0].datacount / limit);
                              if(data[0].datacount % limit != 0 || totalpage < 1){
                                  totalpage += 1;
                              }
                              getpage(totalpage);
                          }
	                 }
	               })
               }
                //加载分页
                function getpage(total){
                    $(".page-list").html('');
                    for(var i = 1; i <= total; i++){
                        var pageii= limit*(i-1);
                        $(".page-list").append('<li><a class="gray-border2" href="javascript:;" data-pagenum="'+i+'" data-page="'+pageii+'">'+i+'</a></li>')
                    }
                    $(".page-list li").eq(0).find("a").attr("class","blue-border2");
                    if(total==1){
                        $("#nextId").attr("class","disable-button")
                    }
                    is_new = false;
                }
                //上一页
                $(".c2-page").on("click", ".prevpage", function(){
                    if(curpage >0){
                        curpage -= 2;
                        var obj = $(".page-list li").eq(curpage).find("a");
                        pageret = obj.attr("data-page");
                        var i = obj.attr("data-pagenum");
                        setpagestyle(i);
                        getprolsit(pageret);
                    }
                })
                //下一页
                $(".c2-page").on("click", ".nextpage", function(){
                    if(curpage >0 && curpage < totalpage){
                        var obj = $(".page-list li").eq(curpage).find("a");
                        pageret = obj.attr("data-page");
                        var i = obj.attr("data-pagenum");
                        setpagestyle(i);
                        getprolsit(pageret);
                    }
                })
                //跳页
                $(".page-list").on("click", ".gray-border2", function(){
                    pageret = $(this).attr("data-page");
                    var i = $(this).attr("data-pagenum");
                    setpagestyle(i);
                    getprolsit(pageret);
                })
                //分页样式处理
                function setpagestyle(i){
                    curpage = Number(i);
                    $(".page-list li").siblings().find("a").attr("class","gray-border2");
                    $(".page-list li").eq(i-1).find("a").attr("class","blue-border2");
                    window.scrollTo(0,690);
                    if ( curpage >= totalpage) {
                        $("#nextId").attr("class","disable-button");
                        $("#prevId").attr("class","prevpage page-button");
                    }else if( curpage == 1){
                        $("#nextId").attr("class","nextpage page-button");
                        $("#prevId").attr("class","disable-button");
                    }else{
                        $("#nextId").attr("class","nextpage page-button");
                        $("#prevId").attr("class","prevpage page-button");
                    }
                }

                getprolsit(0); //数据初始化
                $(".main_Table").on("mouseover",".showMoreQA", function(){
                    $(this).find(".showMoreQA_cont").css("display","block")
                })
                $(".main_Table").on("mouseout",".showMoreQA", function(){
                    $(this).find(".showMoreQA_cont").css("display","none")
                })
                
            </script>
            <script>
        /*显示隐藏二维码*/
        $(function (){
            $(".phone").hover(function (){
                $(".phone_BQ_box").show();
            },function (){
                $(".phone_BQ_box").hide();
            });
        });
    </script>

</body>
</html>
