.main_index{
    width: 100%;
    background: url("../img/pic_banner_bg.png")no-repeat top;
    display: inline-block;
}
.rental_box{
    width: 260px;
    height:295px;
    margin-right: 5px;
    background: url("../img/pic_ total_bg.png")no-repeat center;
    float: left;
    text-align: center;
}
.rental_box2{
    width: 260px;
    height:295px;
    margin-right: 5px;
    background: url("../img/pic_ total_bg2.png")no-repeat center;
    float: left;
    text-align: center;
}
.login_a{
    background: #ffffff;
    color: #f73f25;
    border: solid 1px #ffffff;
    border-radius: 5px;
    padding: 5px 35px;
    box-shadow: 2px 8px 10px #f9630f;
}
.rental_box span{
    display: block;
    color: white;
}
.rental_box2 span{
    display: block;
    color: white;
}
.rental_span_margin{
    margin:227px 0 5px;
}
.recommend_div{
    width: 1200px;
    margin: 5px auto;
}
.recommend_div li{
    width: 388px;
    height: 245px;
    position: relative;
    transition: all .2s linear;
}
.recommend_div li:hover{
    box-shadow: 0 10px 20px #bcbcbc;
}
.recommend_div .li_img1{
    background: url("../img/pic_recommend1.png")no-repeat;
}
.recommend_div .li_img2{
    background: url("../img/pic_recommend2.png")no-repeat;
}
.recommend_div .li_img3{
    background: url("../img/pic_recommend3.png")no-repeat;
}
.recommend_content{
    text-align: center;
    width: 388px;
    height: 41px;
    padding: 10px 0;
    background: #ffffff;
    position: absolute;
    bottom: 0;
}
#journalism marquee a span{
    margin-left: 20px;
}
#journalism marquee a{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.shell_box{
    width: 1200px;
    margin: 20px auto 20px;
}
.shell{
    width: 650px;
    background:url("../img/icon_Announcement.png") no-repeat left;
    background-size: 21px;
    padding:0 0 0 15px;
}
#journalism{
    height:30px;
    overflow:hidden;
    line-height: 30px;
}
.highReturn_box{
    width: 1200px;
    margin: 0 auto;
}
.highReturn_content{
    height: 450px;
    margin-bottom: 20px;
}
.highReturn_content_left{
    width: 401px;
    height: 450px;
    background: url("../img/pic_HighReturn_banner.png")no-repeat center;
    float: right;
    transition: all .2s linear;
}
.highReturn_content_left:hover{
    transition: all .2s linear;
    box-shadow: 0 10px 20px #bcbcbc;
}
.highReturn_content_right{
    width: 757px;
    height: 450px;
    float: left;
}
.highReturn_content_right_item{
    height: 181px;
    margin-bottom: 1px;
    background: #ffffff;
    padding: 18px 30px 25px;
    position: relative;
    transition: all .2s linear;


}
.highReturn_content_right_item:hover{
    margin-bottom: 20px;
    box-shadow: 0 10px 20px #bcbcbc;
}
.item_one{
    margin-bottom: 10px;
    height: 25px;
    line-height: 25px;
}
.item_one div{
    display: inline-block;
    color: #111111;
    position: relative;
}
.item_one img{
    position: absolute;
    top: 6px;
}
.item_one span{
    margin-left: 20px;
}
.item_one_left{
    float: left;
}
.item_one_right{
    float: right;
}
.item_two{
    padding: 0 20px;
}
.item_two_top{
    height: 50px;
    line-height: 50px;
    position: relative;
}
.item_two_top .img1{
    position: absolute;
    top: 5px;
}
.item_two_top .img2{
    position: absolute;
    top: 17px;
}
.item_two_top .span1{
    margin-left:100px;
}
.label_box{
    margin: 10px 0;
    height: 30px;
    line-height: 30px;
}
.label2{
    border: solid 1px #76ccc3;
    padding: 2px 10px;
    border-radius: 3px;
    margin:0 10px 0 10px;
}
.label3{
    border: solid 1px #ffaa56;
    padding: 2px 10px ;
    border-radius: 3px;
    margin:0 15px 0 0;
}
.money_div{
    height: 50px;
    line-height: 45px;
}
.money_div .money_span_margin{
    margin-right: 15px;
}
.highReturn_item_btn{
    padding: 15px 45px;
    position: absolute;
    bottom: 20px;
    right: 65px;
    background: url("../img/pic_btn_bg.png")no-repeat center;
    color: white;
}
/*稳健*/
.steady_content_left{
    width: 757px;
    height: 450px;
    float: right;
}
.steady_content_right{
    width: 401px;
    height: 450px;
    background: url("../img/pic_steady_banner.png")no-repeat center;
    float: left;
    transition: all .2s linear;
}
.steady_content_right:hover{
    box-shadow: 0 10px 20px #bcbcbc;
}
.prefecture_title{
    width: 960px;
    height: 30px;
    line-height: 30px;
    padding-left: 250px;
    margin: 0 auto 10px;
}
.prefecture_title span{
    padding-right: 100px;
}
.risk_img{
    position: absolute;
    top: 3px;
}
.prefecture_content{
    width: 1200px;
    margin: 0 auto 20px;
    background: #fff;
}
.prefecture_content li{
    height: 100px;
    /*background: #ffffff;*/
    border-bottom: 1px solid #f2f2f2;
    transition: all .2s linear;
}
.prefecture_content_btn{
    background: url("../img/pic_pandect_btn2.png")no-repeat center;
    width: 87px;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    color: white;
}
.prefecture_content li:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
}
.li_left{
    border-right: solid 1px #cccccc;
    width: 205px;
    height: 44px;
    margin: 28px 0;
    display: inline-block;
}
.li_left img{
    margin-left: 39px;
}
.li_left span{
    margin: 11px 15px 11px 0;
}
.li_right{
    float: right;
    padding-right:70px;
    margin-top: 10px;
}
.li_right a:hover{
    color: #f52c38
}
.li_right_up{
    height: 40px;
    line-height: 40px;
}
.li_right_up div{
    display: inline-block;
    text-align: center;
}
.li_right_up .div_a{
    transition: all .2s linear;
    width: 78px;
    border: solid 1px #ffffff;
    border-radius: 15px;
}
.li_right_up .div_a:hover{
    border-radius: 15px;
    background: #ffffff;
    border: solid 1px #ff0000;
}
.li_right_down{
    margin-top: 10px;
}
.consult_box{
    width: 1200px;
    height: 270px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.consult_box_left{
    width: 460px;
    height: 270px;
    float: left;
    background: url("../img/pic_novice_banner.png")no-repeat center;
    line-height: 225px;
    transition: all .2s linear;
}
.consult_box_left:hover{
    box-shadow: 0 10px 20px #bcbcbc;
}
.consult_box_left a{
    margin-left: 172px;
}
.consult_box_right{
    width: 700px;
    height: 270px;
    float: right;
    background: url("../img/pic_statement_bg.png")no-repeat center;
    transition: all .2s linear;
}
.consult_box_right:hover{
    box-shadow: 0 10px 20px #bcbcbc;
}
.consult_box_right_txt{
    width: 355px;
    height: 225px;
    float: right;
    margin-right: 55px;
    padding-top: 45px;
}
.right_txt_title{
    height: 30px;
    line-height: 30px;
}
.right_txt_title img{
    position: relative;
    top: 2px;
}
.right_txt_border{
    border-bottom: solid 1px #e5e7ea;
    margin: 15px 0 30px;
}
.right_txt_content{
    height: 145px;
    line-height: 25px;
}
