<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们</title>
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../css/base_cwn3.css" rel="stylesheet" />
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/public.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>

    <style>

        .select-label input {
            display: none;

        }
        .select-label{
            color: #999;
            margin-left: 26px;
            font-size: 14px;
        }
        .select-label input:checked +span {
            background: #5597e1;
            color: #fff;
            width: 58px;
            height: 50px;

        }

        .products {
            height: 90px;
            overflow: hidden;
        }
        .p-box {
            position: relative;
        }
        .p-box .select-label img {
            float: right;
            height: 20px;
        }
        .products .product-box {
            margin-left: 125px;
            margin-top: -30px;
        }
        .products .right-select {
            width: 130px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            margin-right: 2px;
            text-align: center;
        }
        .products .right-select .select-label {
            margin-right: 0;
        }
        .text-center {
            text-align: center;
            position: absolute;
            top: 0;
            right: -60px;
        }
        .red-btn {
            background-color: #f7f7f7;
            color: #8d8d8d;
            padding: 3px 5px;
            border: 1px solid #e5e4e2;;
            border-radius: 3px;
        }
        .character_fz5 {
            font-size: 20px;
        }
        .gg{
            /*width:60px;*/
            /*height:60px;*/
            /*background: url("images/home_49.png")no-repeat center;*/
            position:relative;
            /*<!--<img src="images/home_49.png" class="weui-pt25 weui-pb10" >-->*/

            background: url("../images/home_49.png")no-repeat center;
            /*margin: 0px 0px 5px 0px;*/
        }

        .gg img{display: none}
        .gg:hover img{
            position:absolute;
            left:30%;
            top:0;
            margin-left:-130px;
            padding-top:0px;
            z-index: 99999;
            display:block;

        }
        .cs{
            /*width:60px;*/
            /*height:60px;*/
            /*background: url("images/q.png")no-repeat center;*/
            padding-top:10px;
            position:relative;

        }
        .css{
            display:none;

        }
        .cs:hover .css{
            width: 110px;
            height:235px;
            background:#F4F1E8;
            position:absolute;
            left:30%;
            top:-120px;
            margin-left:-135px;
            padding-top:0px;
            display:block;
        }
    </style>
</head>

<body class="f14">

<div clas="top01 weui-bgcolor weui-pt5 weui-pb5">
    <div class="container weui-f12 weui-c_9">
        <div class="row">
            <div class="col-md-6">
                <img src="../images/home_03.png"> <span class="weui-v_m">上班时间：周一到周五 9:00~20:30 法定节假日 9:00~18:00</span>
                <!--<span class="weui-pl30">关注微博： <img src="images/home_06.png"></span>-->
            </div>
            <div class="col-md-6 weui-t_r">

                <a  id="loginbox" href="../login/login.html" class="weui-pl10 weui-pr10 weui-blue">注册/登录</a>
                <!--<a href="#" class="weui-pl10 weui-pr10 weui-c_9"><img src="images/home_09.png"> <span class="weui-v_m">APP移动客户端</span></a>-->
                <a href="..//about/about_company_profile2.html" class="weui-pl10 weui-pr10 weui-c_9">关于我们</a>
                <a href="../about/about_company_profile2.html#tab=3" class="weui-pl10 weui-pr10 weui-c_9">帮助中心</a>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class=" moblie_p weui-p_r">
            <nav class="navbar navbar-default navbar-default1" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class=" weui-fl logo weui-pt20"><a href="#"><img src="../images/logo2.png"/></a></div>
                <div class=" weui-fr languige weui-pt25 weui-c_p">
                    <a href="../user/user_pandect.html"><img src="../images/home_17.png" class="weui-v_m"> 我的账户</a>
                </div>
                <div class="collapse navbar-collapse  weui-fr" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav nav01 weui-f16">
                        <li ><a href="../index.html">首页</a></li>
                        <li ><a href="../prefecture/first_tou3.html?s_type=1">稳健专区</a></li>
                        <li ><a href="../prefecture/first_tou3.html?s_type=2">高返专区</a></li>
                        <li ><a href="../guide/guide2.html">新手指引</a></li>
                        <li class="active"><a href="../about/about_company_profile2.html">关于我们 </a></li>
                    </ul>

                </div>

            </nav>
        </div>

    </div>
</div>

<div class="banner banner1">
    <div class="container weui-t_c weui-white">
         <h3><span class="weui-dnb weui-p_r weui-f24 weui-f_b b_line">为您提供最好的服务</span></h3>
         <p>Company introduction</p>
    </div>
</div>

<div class="weui-bgf">
     <div class="container">
          <ul id="myTab" class="nav nav-tabs nav-tabs2 weui-f16 weui-t_c">
            <li class="active"><a href="#tab1" data-toggle="tab">公司简介</a></li>
            <li><a href="#tab2" data-toggle="tab">合作平台</a></li>
            <li><a href="#tab3" data-toggle="tab">通知公告</a></li>
            <li><a href="#tab4" data-toggle="tab">常见问题</a></li>
            <li><a href="#tab5" data-toggle="tab">联系我们</a></li>

         </ul>
     </div>
</div>

<div id="index_cont">




<div class=" weui-pt20">
<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="tab1">
        <div class="container weui-pb20">
        <h3 class="weui-f24 weui-t_c">公司简介</h3>
        <p class="weui-t_c">Company profile</p>
        <p class="weui-pt20 weui-f16">网络借贷是目前比较火热的行业之一，即刻理财基于网贷平台给用户的正常回报之上，叠加了二次甚至多次返利，使得用户的投资收益率最大化，深受用户喜爱。</p>
        <div class="row weui-c_9 weui-t_c">
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 weui-pt30">
                 <img src="../images/2_05.png">
                 <h3 class="weui-f16">行业领先</h3>
                 <p class="weui-c_9 weui-t_l">理财先生由安徽蜀玉金融外包服务有限公司运营，是国内领先的，专注于互联网金融领域网贷平台的精选推荐、导购平台。</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 weui-pt30">
                 <img src="../images/2_05.png">
                 <h3 class="weui-f16">专业可靠</h3>
                 <p class="weui-c_9 weui-t_l">将互联网金融理财投资者的投资收益最大化使我们的目标，我们不断优化渠道，确保理财先生的用户能得到最高的收益。</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 weui-pt30">
                 <img src="../images/2_05.png">
                 <h3 class="weui-f16">全网最高</h3>
                 <p class="weui-c_9 weui-t_l">精选优质理财平台，除平台收益和返利收益，更有邀请奖励、不定期活动，重重收益尽在理财先生。</p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 weui-pt30">
                 <img src="../images/2_05.png">
                 <h3 class="weui-f16">风险量化</h3>
                 <p class="weui-c_9 weui-t_l">安全是理财先生同样重视的问题，理财先生会对互金平台进行客观的风控调查，并且量化为风控分数，不同风险承受等级的用户可选择参加相适应的平台活动。</p>
            </div>
        
        </div>
        </div>
        <!--<div style=" background:#f9f9f9;" class="weui-pt30 weui-pb30">-->
        <!--<h3 class="weui-t_c weui-f24">大事记</h3>-->
        <!--<p class="weui-t_c">Memorabilia</p>-->
        <!---->
        <!--<div class="table-scrollable big">-->
                 <!--<div class="boxa">-->
            <!--<div class="box-con" data-url="#" data-max="27" data-cur="">-->
              <!--<dl class="til-top">-->
                  <!--<dt><span>今天</span></dt>-->
                <!--</dl>-->
                      <!--<input type="hidden" value="8" id="signu">-->
                      <!--<dl class="til-day">-->
                      <!--<dt><span>2016-09-22</span></dt>-->
                        <!--<dd>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介<i></i></dd>-->
                    <!--</dl>-->
                    <!--<dl class="til-day">-->
                      <!--<dt><span>2016-09-20</span></dt>-->
                        <!--<dd>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介<i></i></dd>-->
                    <!--</dl>-->
                   <!--<dl class="til-day">-->
                      <!--<dt><span>2016-09-20</span></dt>-->
                        <!--<dd>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介<i></i></dd>-->
                    <!--</dl>-->
                   <!--<dl class="til-year">-->
                      <!--<dt><span><strong>2016</strong>年</span></dt>-->
                    <!--</dl>-->
                     <!--<dl class="til-day">-->
                      <!--<dt><span>2016-09-20</span></dt>-->
                        <!--<dd>简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介简介<i></i></dd>-->
                    <!--</dl>-->
                <!---->
            <!--</div>-->
            <!--<p class="more01 weui-t_c weui-pt30 weui-pb30"><a href="javascript:;">查看更多</a></p>-->
        <!--</div>-->
                 <!---->
           <!--</div>-->
        <!---->
        <!---->
        <!---->
        <!---->
        <!--</div>-->
        
        
        
   </div>
   <div class="tab-pane fade" id="tab2">
       <div class="container weui-pb30">
       <div class="weui-t_c">
        <h3 class="weui-f24">合作伙伴</h3>
         <p>掌握一流网贷行业资源为您推荐可靠、安全的理财平台</p>
         <div class="row">
              <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 weui-pt30"  v-for="shopItem in shoplist" v-cloak>
                   <a  class="weui-bgf weui-box_s listbox weui-db">
                       <img :src="shopItem.logo" height="45">
                       <p class="weui-pt15">{{shopItem.shopname}}:{{shopItem.tag}}</p>
                   </a>
              </div>


         </div>
        <div class="c2-page">
                <!--<a id="prevId" class="disable-button" href="javascript:void(0)">上一页</a>-->
                <ul class="pagination" >
                    <li>
                        <a id="prevId" aria-label="Previous" href="javascript:void(0)"> <span aria-hidden="true">&laquo;</span></a>
                    </li>
                </ul>
                <ul class="pagination page-list">

                </ul>
                <!--<a id="nextId" class="nextpage page-button" href="javascript:void(0)" >下一页</a>-->
                <ul class="pagination">
                    <li>
                        <a  aria-label="Next" id="nextId" class="nextpage page-button" href="javascript:void(0)" >
                            <span aria-hidden="true">&raquo;</span>
                        </a>

                    </li>
                </ul>
            </div>
      </div>
      </div>
   </div>
   <div class="tab-pane fade" id="tab3">
   <div class="container weui-pb30">
       <div class="weui-bgf">
          <h3 class="title_news weui-f18 weui-bb weui-pt10 weui-pb10">
              <span class="weui-dnb">通知公告</span>
          </h3>
          <div class=" weui-pl20 weui-pr20">
              <ul class="weui-lh30"  v-for="(noticeItem,index) in noticelist" v-cloak>
                  <li class="clearfix weui-bb weui-pt10 weui-pb10">
                     <a :href="'about_FAQ2.html?type=1&id='+noticeItem.id" class="weui-fl">
                         <i class="glyphicon glyphicon-triangle-right weui-orange"></i> {{noticeItem.title}}
                     </a>
                     <span class="weui-fr weui-c_9">{{noticeItem.ctime}}</span>
                  </li>

              </ul>
          </div>
   
        
        <nav aria-label="Page navigation" class="weui-t_c">

  <!--<ul class="pagination">-->
    <!--<li>-->
      <!--<a href="#" aria-label="Previous">-->
        <!--<span aria-hidden="true">&laquo;</span>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="active"><a href="#">1</a></li>-->
    <!--<li><a href="#">2</a></li>-->
    <!--<li><a href="#">3</a></li>-->
    <!--<li><a href="#">4</a></li>-->
    <!--<li><a href="#">5</a></li>-->
    <!--<li>-->
      <!--<a href="#" aria-label="Next">-->
        <!--<span aria-hidden="true">&raquo;</span>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->



            <div class="c2-page1 ">
                <!--<a id="prevId" class="disable-button" href="javascript:void(0)">上一页</a>-->
                <ul class="pagination " >
                    <li>
                        <a id="prevId1" aria-label="Previous" href="javascript:void(0)"> <span aria-hidden="true">&laquo;</span></a>
                    </li>
                </ul>
                <ul class="pagination page-list1" >

                </ul>
                <!--<a id="nextId" class="nextpage page-button" href="javascript:void(0)" >下一页</a>-->
                <ul class="pagination " >
                    <li>
                        <a  aria-label="Next" id="nextId1" class="nextpage page-button" href="javascript:void(0)" >
                            <span aria-hidden="true">&raquo;</span>
                        </a>

                    </li>
                </ul>
            </div>
</nav>
     </div>
     </div>
   </div>
   <div class="tab-pane fade" id="tab4">
   <div class="container weui-pb30">
       <div class="weui-bgf">
          <h3 class="title_news weui-f18 weui-bb weui-pt10 weui-pb10">
              <span class="weui-dnb">常见问题</span>
          </h3>
          <div class=" weui-pl20 weui-pr20">
              <ul class="weui-lh30">
                  <li class="clearfix weui-bb weui-pt10 weui-pb10" v-for="(questionItem,index) in questionlist" v-cloak>
                     <a :href="'about_FAQ2.html?type=2&id='+questionItem.id" class="weui-fl">
                         <i class="glyphicon glyphicon-triangle-right weui-orange"></i> {{questionItem.title}}
                     </a>
                     <span class="weui-fr weui-c_9">{{questionItem.ctime}}</span>
                  </li>
              </ul>
          </div>
   

        <nav aria-label="Page navigation" class="weui-t_c">
            <div class="c2-page2 ">
                <!--<a id="prevId" class="disable-button" href="javascript:void(0)">上一页</a>-->
                <ul class="pagination " >
                    <li>
                        <a id="prevId2" aria-label="Previous" href="javascript:void(0)"> <span aria-hidden="true">&laquo;</span></a>
                    </li>
                </ul>
                <ul class="pagination page-list2" >

                </ul>
                <!--<a id="nextId" class="nextpage page-button" href="javascript:void(0)" >下一页</a>-->
                <ul class="pagination " >
                    <li>
                        <a  aria-label="Next" id="nextId2" class="nextpage page-button" href="javascript:void(0)" >
                            <span aria-hidden="true">&raquo;</span>
                        </a>

                    </li>
                </ul>
            </div>
</nav>
     </div>
   </div>
   </div>
   <div class="tab-pane fade" id="tab5">
   <div class="container weui-pb30">
       <div class="weui-bgf weui-p20">
          <h3 class="title_news weui-f18 weui-pt10 weui-pb10">
              <span class="weui-dnb">招贤纳士</span>
          </h3>
          <p class="weui-pl20">请发送您的简历至<a href="#" class="weui-orange">260253222@qq.com</a>,标题请注明所申请职位。</p>
          
          <div class="weui-bb weui-pt20">
              <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                       <p class="weui-f24 weui-orange">UI设计师</p>
                       <p class="weui-c_9">经验：5-10年  <span class="weui-pl20">薪资范围：12k-24k</span></p>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 weui-t_r">
                      <a href="#" class="weui-f18 btn btn-or btn-or1">申请职位</a> <span class="weui-pl15 weui-v_m weui-dnb xiala"><i class="glyphicon glyphicon-download weui-c_9 weui-f22"></i></span>
                  </div>
              </div>
          </div>
          <div class="xlbox weui-d_n">
               <h3 class="weui-f18">工作职责：</h3>
               <ul>
                   <li>1.主导Web前端的产品研发和技术规划 </li>
                  <li> 2.负责Web前端系统架构的设计优化和工程化开发效率的提高</li>
                  <li> 3.主导Web前端前沿技术研究和技术创新</li>
                  <li> 4.负责公司前端开发团队管理</li>
               </ul>
               <h3 class="weui-f18">岗位要求：</h3>
               <ul>
                   <li>1.有扎实的前端技术基础，包括但不限于 HTML、CSSCSS、JavaScript、DOM</li>
                  <li>2.对 NodeJS / Html5 及其相关技术有一定了解；或者熟悉HTTP协议、Apache模块、cookie等Web技术；</li>
                  <li> 3.有复杂用户界面与交互应用开发经验，在乎设计细节，能够发现并反馈设计稿中的缺陷</li>
                  <li>4.精通jQuery、bootstrap、angular.js、vue.js等前端框架（须有项目实战经验，Vue项目经验为加分项）；</li>
               </ul>
          </div>
          
          <div class="weui-bb weui-pt20">
              <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                       <p class="weui-f24 weui-orange">前端工程师</p>
                       <p class="weui-c_9">经验：5-10年  <span class="weui-pl20">薪资范围：12k-24k</span></p>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 weui-t_r">
                      <a href="#" class="weui-f18 btn btn-or btn-or1">申请职位</a> <span class="weui-pl15 weui-v_m weui-dnb xiala"><i class="glyphicon glyphicon-download weui-c_9 weui-f22"></i></span>
                  </div>
              </div>
          </div>
          <div class="xlbox weui-d_n">
               <h3 class="weui-f18">工作职责：</h3>
               <ul>
                   <li>1.主导Web前端的产品研发和技术规划 </li>
                  <li> 2.负责Web前端系统架构的设计优化和工程化开发效率的提高</li>
                  <li> 3.主导Web前端前沿技术研究和技术创新</li>
                  <li> 4.负责公司前端开发团队管理</li>
               </ul>
               <h3 class="weui-f18">岗位要求：</h3>
               <ul>
                   <li>1.有扎实的前端技术基础，包括但不限于 HTML、CSSCSS、JavaScript、DOM</li>
                  <li>2.对 NodeJS / Html5 及其相关技术有一定了解；或者熟悉HTTP协议、Apache模块、cookie等Web技术；</li>
                  <li> 3.有复杂用户界面与交互应用开发经验，在乎设计细节，能够发现并反馈设计稿中的缺陷</li>
                  <li>4.精通jQuery、bootstrap、angular.js、vue.js等前端框架（须有项目实战经验，Vue项目经验为加分项）；</li>
               </ul>
          </div>
          
          <div class="weui-bb weui-pt20">
              <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                       <p class="weui-f24 weui-orange">产品经理</p>
                       <p class="weui-c_9">经验：5-10年  <span class="weui-pl20">薪资范围：12k-24k</span></p>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 weui-t_r">
                      <a href="#" class="weui-f18 btn btn-or btn-or1">申请职位</a> <span class="weui-pl15 weui-v_m weui-dnb xiala"><i class="glyphicon glyphicon-download weui-c_9 weui-f22"></i></span>
                  </div>
              </div>
          </div>
          <div class="xlbox weui-d_n">
               <h3 class="weui-f18">工作职责：</h3>
               <ul>
                   <li>1.主导Web前端的产品研发和技术规划 </li>
                  <li> 2.负责Web前端系统架构的设计优化和工程化开发效率的提高</li>
                  <li> 3.主导Web前端前沿技术研究和技术创新</li>
                  <li> 4.负责公司前端开发团队管理</li>
               </ul>
               <h3 class="weui-f18">岗位要求：</h3>
               <ul>
                   <li>1.有扎实的前端技术基础，包括但不限于 HTML、CSSCSS、JavaScript、DOM</li>
                  <li>2.对 NodeJS / Html5 及其相关技术有一定了解；或者熟悉HTTP协议、Apache模块、cookie等Web技术；</li>
                  <li> 3.有复杂用户界面与交互应用开发经验，在乎设计细节，能够发现并反馈设计稿中的缺陷</li>
                  <li>4.精通jQuery、bootstrap、angular.js、vue.js等前端框架（须有项目实战经验，Vue项目经验为加分项）；</li>
               </ul>
          </div>
          
          <div class="weui-bb weui-pt20">
              <div class="row">
                  <div class="col-md-6">
                       <p class="weui-f24 weui-orange">PHP工程师</p>
                       <p class="weui-c_9">经验：5-10年  <span class="weui-pl20">薪资范围：12k-24k</span></p>
                  </div>
                  <div class="col-md-6 weui-t_r">
                      <a href="#" class="weui-f18 btn btn-or btn-or1">申请职位</a> <span class="weui-pl15 weui-v_m weui-dnb xiala"><i class="glyphicon glyphicon-download weui-c_9 weui-f22"></i></span>
                  </div>
              </div>
          </div>
          <div class="xlbox weui-d_n">
               <h3 class="weui-f18">工作职责：</h3>
               <ul>
                   <li>1.主导Web前端的产品研发和技术规划 </li>
                  <li> 2.负责Web前端系统架构的设计优化和工程化开发效率的提高</li>
                  <li> 3.主导Web前端前沿技术研究和技术创新</li>
                  <li> 4.负责公司前端开发团队管理</li>
               </ul>
               <h3 class="weui-f18">岗位要求：</h3>
               <ul>
                   <li>1.有扎实的前端技术基础，包括但不限于 HTML、CSSCSS、JavaScript、DOM</li>
                  <li>2.对 NodeJS / Html5 及其相关技术有一定了解；或者熟悉HTTP协议、Apache模块、cookie等Web技术；</li>
                  <li> 3.有复杂用户界面与交互应用开发经验，在乎设计细节，能够发现并反馈设计稿中的缺陷</li>
                  <li>4.精通jQuery、bootstrap、angular.js、vue.js等前端框架（须有项目实战经验，Vue项目经验为加分项）；</li>
               </ul>
          </div>
       </div>
       <div class="weui-bgf weui-p20 weui-mt15 weui-lh30">
          <h3 class="title_news weui-f18 weui-pt10 weui-pb10">
              <span class="weui-dnb">联系我们</span>
          </h3>
          <div class="weui-pl20">
          <div class="row">
               <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
               <ul>
                   <li class="weui-f16 weui-f_b">运营总部</li>
                   <li>地址：浙江省温州市龙湾区浙南云谷</li>
                   <li>邮编：325005</li>
               </ul>
               <ul class="weui-pt10">
                   <li class="weui-f16 weui-f_b">疑难解答</li>
                   <li>如果您在使用理财先生（www.ilcxs.cn）的过程中有任何疑问，请您与理财先生客服人员联系</li>
               </ul>
               </div>
               <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7"><img src="../images/3_05.png" width="100%"></div>
           </div>
          </div>
       </div>
       
   </div>
   </div>
</div>
     
     
     
     
     
     
</div>

</div>


<div class="m-confirm">
    <div class="online"  id="ycj">
        <img src="../images/r_31.png" class="weui-pt25 weui-pb10">
        <p>在线咨询</p>
    </div>
    <div class="try cs" id="try" tabindex = "1">
        <img src="../images/home_34.png" class="weui-pt25 weui-pb10">
        <p>QQ咨询</p>
        <div class="css">
            <div style="margin: auto;width: 100px;height: 40px"><img src="../images/lxk.png" alt=""></div>
            <div  style="margin: auto;width: 100px;height: 88px"><img src="../images/lxk2.png" alt=""></div>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2492145413&site=qq&menu=yes"><div class="kf1"><img src="../images/qq.png" alt="" style="margin-top: 5px"> &nbsp;客服001</div> </a>
            <br>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1817954943&site=qq&menu=yes"><div class="kf1"><img src="../images/qq.png" alt=""> &nbsp; 客服002</div> </a>
           <!--  <br>
             <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=102669995&site=qq&menu=yes"><div class="kf1"><img src="images/qq.png" alt=""> &nbsp; 客服003</div> </a> -->
            <br>


        </div>

        <div class="content">
        </div>
    </div>
    <div class="demo gg">
       <img src="../images/home_49.png" class="weui-pt25 weui-pb10" >
        <img src="../images/image.png" class="weui-pt25 weui-pb10" >

        <p class="gh" style="font-size: 7px">一号客服</p>
        <div class="content"></div>
    </div>
      <div class="demo gg">
       <img src="../images/home_49.png" class="weui-pt25 weui-pb10" >
        <img src="../images/image2.png" class="weui-pt25 weui-pb10" >

        <p class="gh">二号客服</p>
        <div class="content"></div>
    </div>
    <!--<div class="tel">-->
        <!--<img src="images/home_52.png" class="weui-pt25 weui-pb10">-->
        <!--<p>电话咨询</p>-->
        <!--<div class="content"></div>-->
    <!--</div>-->
    <div class="top weui-d_n" id="totop">
        <img src="../images/home_55.png" class="weui-pt5 weui-pb5">
        <p>TOP</p>
    </div>
    </div>
<script>
    var curpage = 1, limit = 8, is_new = true, totalpage ;
    var curpage1 = 1, limit1 = 4, is_new1 = true, totalpage1 ;
    var curpage2 = 1, limit2 =4, is_new2 = true, totalpage2 ;
    var vm = new Vue({
        el:"#index_cont",//读取数据的块
        data:{
            shoplist:[],//合作平台
            noticelist:[],//公告
            questionlist:[],//问题
        }
    })
    $(document).ready(function(){
        getprolsit(0);
        getprolsit1(0);
        getprolsit2(0);
    });


    function getprolsit2(pageIndex){
        vm.questionlist = [];//清空数据
        var note={
        	type:2,
        	limit:limit1,
        	page:pageIndex
        }
         $.ajax({
          type: "Post",
          contentType: "application/json; charset=utf-8",
          url: "queryNote",
          data:JSON.stringify(note),
          success: function(data){
                        for(var i = 0; i < data.length; i++){
                            vm.questionlist.push(data[i]);
                        }
                        //页数
                        if(is_new2){
                            totalpage2 = parseInt(data[0].count / limit2);
                            if(data[0].count % limit2 != 0 || totalpage2< 1){
                                totalpage2 += 1;
                            }
                            getpage2(totalpage2);
                        }
                    }
            }
        );
    }
    //加载分页
    function getpage2(total){
        $(".page-list2").html('');
        for(var i = 1; i <= total; i++){
            var pageii= limit2*(i-1);
            $(".page-list2").append('<li><a class="gray-border2" href="javascript:;" data-pagenum="'+i+'" data-page="'+pageii+'">'+i+'</a></li>')
        }
        $(".page-list2 li").eq(0).find("a").attr("class","blue-border2");
        if(total==1){
            $("#nextId2").attr("class","disable-button")
        }
        is_new2 = false;
    }
    //上一页
    $(".c2-page2").on("click", ".prevpage", function(){
        if(curpage2 >0){
            curpage2 -= 2;
            var obj = $(".page-list li").eq(curpage2).find("a");
            var pageret = obj.attr("data-page");
            var i = obj.attr("data-pagenum");
            setpagestyle2(i);
            getprolsit2(pageret);
        }
    }) 
    //下一页
    $(".c2-page2").on("click", ".nextpage", function(){
        if(curpage2 >0 && curpage2 < totalpage2){
            var obj = $(".page-list li").eq(curpage2).find("a");
            var pageret = obj.attr("data-page");
            var i = obj.attr("data-pagenum");
            setpagestyle2(i);
            getprolsit2(pageret);
        }
    })
    //跳页
    $(".page-list2").on("click", ".gray-border2", function(){
        var pageret = $(this).attr("data-page");
        var i = $(this).attr("data-pagenum");
        setpagestyle2(i);
        getprolsit2(pageret);
    })
    //分页样式处理
    function setpagestyle2(i){
        curpage2 = Number(i);
        $(".page-list2 li").siblings().find("a").attr("class","gray-border2");
        $(".page-list2 li").eq(i-1).find("a").attr("class","blue-border2");
        window.scrollTo(0,415);
        if ( curpage2 >= totalpage2) {
            $("#nextId2").attr("class","disable-button");
            $("#prevId2").attr("class","prevpage page-button");
        }else if( curpage2 == 1){
            $("#nextId2").attr("class","nextpage page-button");
            $("#prevId2").attr("class","disable-button");
        }else{
            $("#nextId2").attr("class","nextpage page-button");
            $("#prevId2").attr("class","prevpage page-button");
        }
    }

    function getprolsit1(pageIndex) {
        vm.noticelist = [];//清空数据
        var note={
        	type:1,
        	limit:limit1,
        	page:pageIndex
        }
        $.ajax({
          type: "Post",
          contentType: "application/json; charset=utf-8",
          url: "queryNote",
          data:JSON.stringify(note),
          success: function(data){
                        for(var i = 0; i < data.length; i++){
                            vm.noticelist.push(data[i]);
                        }
                        //页数
                        if(is_new1){
                            totalpage1 = parseInt(data[0].count / limit1);
                            if(data[0].count % limit1 != 0 || totalpage1 < 1){
                                totalpage1 += 1;
                            }
                            getpage1(totalpage1);
                        }
                    }
                }
        );
    }

    //加载分页
    function getpage1(total){
        $(".page-list1").html('');
        for(var i = 1; i <= total; i++){
            var pageii= limit1*(i-1);
            $(".page-list1").append('<li><a class="gray-border2" href="javascript:;" data-pagenum="'+i+'" data-page="'+pageii+'">'+i+'</a></li>')
        }
        // $(".page-list li").eq(0).attr("class","active");
        $(".page-list1 li").eq(0).attr("class","active");
        if(total==1){
            $("#nextId1").attr("class","disable-button")
        }
        is_new1 = false;
    }
    //上一页
    $(".c2-page1").on("click", ".prevpage", function(){
        if(curpage1 >0){
            curpage1 -= 2;
            var obj = $(".page-list1 li").eq(curpage1).find("a");
            var pageret = obj.attr("data-page");
            var i = obj.attr("data-pagenum");
            setpagestyle1(i);
            getprolsit1(pageret);
        }
    })
    //下一页
    $(".c2-page1").on("click", ".nextpage", function(){
        if(curpage1 >0 && curpage1 < totalpage1){
            var obj = $(".page-list1 li").eq(curpage1).find("a");
            var pageret = obj.attr("data-page");
            var i = obj.attr("data-pagenum");
            setpagestyle1(i);
            getprolsit1(pageret);
        }
    })
    //跳页
    $(".page-list1").on("click", ".gray-border2", function(){
        var pageret = $(this).attr("data-page");
        var i = $(this).attr("data-pagenum");
        setpagestyle1(i);
        getprolsit1(pageret);
    })

    //分页样式处理
    function setpagestyle1(i){
        curpage1 = Number(i);
        // $(".page-list1 li").siblings().find("a").attr("class","gray-border2");
        // $(".page-list1 li").eq(i-1).find("a").attr("class","blue-border2");
        // alert(123);
        console.log(i);
        $(".page-list1 li").siblings().find("a").attr("class","gray-border2");

        // $(".page-list li").eq(i-1).attr("class","active");
        for ($j=1;$j<20;$j++)
        {
            $(".page-list1 li").eq($j-1).attr("class","yuyu");

        }
        $(".page-list1 li").eq(i-1).attr("class","active");

        window.scrollTo(0,415);
        if ( curpage1 >= totalpage1) {
            $("#nextId1").attr("class","disable-button");
            $("#prevId1").attr("class","prevpage page-button");
        }else if( curpage1 == 1){
            $("#nextId1").attr("class","nextpage page-button");
            $("#prevId1").attr("class","disable-button");
        }else{
            $("#nextId1").attr("class","nextpage page-button");
            $("#prevId1").attr("class","prevpage page-button");
        }
    }




    function getprolsit(pageIndex){
        vm.shoplist = [];//清空存储空间
        var note={
        	limit:limit,
        	page:pageIndex
        }
        $.ajax({
          type: "Post",
          contentType: "application/json; charset=utf-8",
          url: "queryShopSmall",
          data: JSON.stringify(note),
          success: function(data){
                        for(var i = 0; i < data.length; i++){
                            vm.shoplist.push(data[i]);
                        }
                        //页数
                        if(is_new){
                            totalpage = parseInt(data[0].count / limit);
                            if(data[0].count % limit != 0 || totalpage < 1){
                                totalpage += 1;
                            }
                            getpage(totalpage);
                        }

                    }
                }
        );
    }

    function nofind(){
        var img=event.srcElement;
        img.src="image/nopic.gif";
        img.onerror=null; //控制不要一直跳动
    }
    //加载分页
    function getpage(total){
        $(".page-list").html('');
        for(var i = 1; i <= total; i++){
            var pageii= limit*(i-1);
            $(".page-list").append('<li><a class="gray-border2" href="javascript:;" data-pagenum="'+i+'" data-page="'+pageii+'">'+i+'</a></li>')
        }
        $(".page-list li").eq(0).attr("class","active");
        if(total==1){
            $("#nextId").attr("class","disable-button")
        }
        is_new = false;
    }
    //上一页
    $(".c2-page").on("click", ".prevpage", function(){
        if(curpage >0){
            curpage -= 2;
            var obj = $(".page-list li").eq(curpage).find("a");
            var pageret = obj.attr("data-page");
            var i = obj.attr("data-pagenum");
            setpagestyle(i);
            getprolsit(pageret);
        }
    })
    //下一页
    $(".c2-page").on("click", ".nextpage", function(){
        if(curpage >0 && curpage < totalpage){
            var obj = $(".page-list li").eq(curpage).find("a");
            var pageret = obj.attr("data-page");
            var i = obj.attr("data-pagenum");
            setpagestyle(i);
            getprolsit(pageret);
        }
    })
    //跳页
    $(".page-list").on("click", ".gray-border2", function(){
        var pageret = $(this).attr("data-page");
        var i = $(this).attr("data-pagenum");
        setpagestyle(i);
        getprolsit(pageret);
    })
    //分页样式处理
    function setpagestyle(i){
        curpage = Number(i);
        $(".page-list li").siblings().find("a").attr("class","gray-border2");
        $(".page-list li").eq(i-1).find("a").attr("class","blue-border2");
        for ($j=1;$j<20;$j++)
        {
            $(".page-list li").eq($j-1).attr("class","yuyu");

        }
        $(".page-list li").eq(i-1).attr("class","active");
        window.scrollTo(0,415);
        if ( curpage >= totalpage) {
            $("#nextId").attr("class","disable-button");
            $("#prevId").attr("class","prevpage page-button");
        }else if( curpage == 1){
            $("#nextId").attr("class","nextpage page-button");
            $("#prevId").attr("class","disable-button");
        }else{
            $("#nextId").attr("class","nextpage page-button");
            $("#prevId").attr("class","prevpage page-button");
        }
    }


$(document).ready(function(){ 
var gl="";
var gk="";
	$.ajax({
          type: "Post",
          contentType: "application/json; charset=utf-8",
          url: "../front/queryLogo",
          data:"",
          success: function(data){
          	for(var j=1;j<4;j++){
          		if(j==1){
	         	  	var b="item active";
	         	  }else{
	         	  	var b="item";
	         	  }
         	  for(var i=(j-1)*16;i<16*j;i++){
	         	  gl+='<div class=" w12"><a href="#"><img src="'+data[i].logo+'"></a></div>'
	       	  }
	       	  gk+='<div class="'+b+'"><div class="item active">'+gl+'</div></div>'
	       	  gl="";
	       }
	       	  $('#lblogo').append(gk);
          },
          error:function(e){
            alert("错误！！");
       	  }
   })
})
$(document).ready(function(){
        $('#myCarousel1').carousel({interval:3000});//每隔5秒自动轮播
    });

    /*显示隐藏二维码*/
    $(function (){
        $(".phone").hover(function (){
            $(".phone_BQ_box").show();
        },function (){
            $(".phone_BQ_box").hide();
        });
    });
    /*防止刷新*/
    var  cur_hash = window.location.href.split('#tab=')[1];
    if(cur_hash){
        $(".about_main").siblings(".about_info_box").css("display","none");
        $(".about_info_box").eq(cur_hash).css("display","block");
        $(".submenu_box").siblings("a").removeClass("a_active");
        $(".submenu_box").find("a").eq(cur_hash).addClass("a_active");
    }else {
        $(".about_info_box").eq(0).css("display","block");
        $(".submenu_box").find("a").eq(0).addClass("a_active");
    }

    //选项卡切换
    $(document).ready(function(){
        $(".submenu_box a").click(function(i){
            $(".about_info_box").hide().eq($(this).index()).show();
            $(".submenu_box").find("a").removeClass("a_active");
            $(this).addClass("a_active");
            window.location.hash="tab="+$(this).index();
        });
    });

</script>

<script> 

$('.m-confirm .tel').hover(function(e) {
    $(this).find('.content').toggleClass('on');
});
$('.xiala').click(function(e) {
    $(this).parents().parents().parents().next().slideToggle();
});

$(function () {              
            //绑定滚动条事件  
              //绑定滚动条事件  
            $(window).bind("scroll", function () {  
                var sTop = $(window).scrollTop();  
                var sTop = parseInt(sTop);  
                if (sTop >= 10) {  
                    $('.top').show();
                }  
                else {  
                    $('.top').hide();
                }   
            });  
        })  

$("#totop").click(function(){
                $('body,html').animate({scrollTop:0},500);
                return false;
            });


 </script>

<script>



    $("#ycj").click(function(){
        PP.show()
    });

    window.ppSettings = {
        app_uuid: 'f7a4cad0-f5b1-11e7-b287-00163e00061e',
        view: {
            launcher_bottom_margin: '50px',
            launcher_right_margin: '30px',
            launcher_is_show: false,
            launch_style: {
                mode: 'custom',
                position: 'right',
                bottom: 50,


            }
        }
    };
    (function(){
        var w=window,d=document;

        function l() {
            var a=d.createElement('script');
            a.type='text/javascript';
            a.async=!0;
            a.charset='utf-8';
            a.src='https://ppmessage.cn/ppcom/assets/pp-library.min.js';
            var b=d.getElementsByTagName('script')[0];
            b.parentNode.insertBefore(a,b)
        }
        l();
    })();
</script>
</body>
</html>

