/*投资攻略*/
.details_title{
    line-height: 0.57rem;
    text-align: center;
    color: white;
    background: -webkit-gradient(linear, 100% 0, 0 0, from(#fa621a), to(#f7372d));
}
.details_main{
    margin: 0 0 1.15rem;
    margin-bottom: 2.1rem;
}
.details_span1{
    width: 0.8rem;
    padding: 0.05rem 0.1rem;
    background: #58c4b9;
    border-radius: 0.1rem;
    color: white;
    font-size:0.2rem;
    text-align: center;
}
.details_span2{
    margin-left: 0.2rem;
    color: #e44861;
    font-size:0.2rem;
}
.tags span.tag {
    padding: 0.1rem 0.3rem;
    color: #ffaa56;
    border: 1px solid;
    border-radius: 3px;
    margin-right: 5px;
    display: inline-block;
    font-size: 0.20rem;
}
.details_info{
    margin-bottom: 0.2rem;
}
.details_img{
    width: 3rem;
    /*height: 40px;*/
    margin:0 0.2rem 0 0;
}
.info_img{
    width: 1rem;
    height: 1rem;
}
.img1{
    background: url("../img/terrace_name.jpg")no-repeat center;
    background-size: 0.5rem;
}
.img2{
    background: url("../img/terrace_PCweb.jpg")no-repeat center;
    background-size: 0.49rem;
}
.img3{
    background: url("../img/terrace_time.jpg")no-repeat center;
    background-size: 0.5rem;
}
.img4{
    background: url("../img/terrace_interest.png")no-repeat center;
    background-size: 0.5rem;
}
.margin-right{
    margin-right: 0.25rem;
}
.data_box{
    width: 100%;
    height: 0.8rem;
    background: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.data_item{
    border-right: solid 1px #eeeeee;
    height: 0.6rem;
    line-height: 0.3rem;
    padding: 0 0.1rem;
    text-align: center;
    flex: 1;
}
.data_item span{
    display: block;
    font-size:0.2rem;
}
.tablist {
    text-align: center;
    background: white;
    margin-top: 0.1rem;
}
.tablist a.active {
    border-bottom: .04rem solid #ee9619;
}
.tablist a {
    display: inline-block;
    font-size: .2rem;
    padding: .1rem;
    height: 0.4rem;
    line-height: 0.4rem;
}
.tabList_box{
    border-top: solid 1px #f4f4f4;
    padding: 0.4rem 0.4rem;
    background: white;
    line-height: 0.4rem;
}
.tabList_box2{
    border-top: solid 1px #f4f4f4;
    padding: 0.4rem 0.4rem;
    background: white;
    line-height: 0.4rem;
}
.tabList_box_left{
    margin-right: 0.3rem;
}
.tabList_box span{
    display: block;
    font-size:0.2rem;
}
.tabList_box2 span{
    font-size:0.2rem;
}
.tabList_box strong{
    font-size:0.2rem;
}
.level_box{
    background: white;
    margin: 0.1rem 0 ;
    padding: 0.1rem 0.3rem;
}
.details_btn{
    text-align:center;
    position:fixed;
    display:flex;
    /*bottom:0;*/
    bottom: 0.98rem;
    width:100%;
    height:1rem;
    line-height: 1rem;
}
.details_btn a{
    color: white;
}
.btn1{
     border: none;
     background: #58c4b9;
     color: white;
     flex:0.75;
 }
.btn2{
    border: none;
    background: #ff6401;
    color: white;
    flex:1.25;
}
.page-item {
    padding:0;
}
.page-item .plan {
    background-color: #fff;
}
/*.page-item .plan-tip {
    font-size: .25rem;
    line-height: 1.04rem;
    text-align: right;
    color: #adadad;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0.2rem;
}
.page-item .plan-scroll {
    padding:0 0 0.3rem .3rem;
    overflow: auto;
}
.page-item .plan-arrow {
    width: .5rem;
    vertical-align: top;
}
.page-item .plan-table {
    display: -webkit-box;
    display: box;
    border-left: .01rem solid #c4c4c4;
}
.page-item .pt-h:first-child {
}
.page-item .pt-h {
    padding: 0 .1rem 0 .28rem;
    color: #999;
}
.page-item .pt-d, .page-item .pt-h {
    font-size: .25rem;
    line-height: .9rem;
    border-bottom: solid 1px #ececec;
}
.page-item .pt-fs16 {
    font-size: .2rem;
}
.page-item .pt-d {
    padding: 0 .1rem;
    text-align: center;
    color: #333;
}
.page-item .pt-fs20 {
    font-size: .2rem;
}
.page-item .pt-s {
    font-weight: 700;
    color: #ee9619;
}
.page-item .pt-row:last-child {
    margin-right: .3rem;
}*/
.plan_box{
    background-color: #f4f4f4;
}
.item_box{
    background-color: #fff;
    margin-bottom: .15rem;
}
.plan_box table{
    width: 100%;
    text-align: center;
    border-top: solid 1px #f4f4f4;
}
.plan_box table tr{
    height: 0.8rem;
    border-bottom: solid 1px #e5e5e5;
}
.plan_box table tr td img{
    margin: 0 auto;
}
.plan_div{
    padding: 0.2rem 0.3rem 0;
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
}
.plan_div_ul{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}
.plan_ul_li{
    line-height: .8rem;
}
.plan_ul_li span{
    font-size:0.25rem;
    // line-height: 1;
    display: block;
}
.plan_btn{
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
}
.plan_btn button{
    padding-right: 0.45rem;
    border: none;
    color: #8e888e;
}
.plan_btn_one{
    background: url("../img/icon_next.png")no-repeat right center;
}
.plan_btn_two{
    background: url("../img/icon_up.png")no-repeat right center;
}
.plan_btn2{
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
}
.plan_btn2 button{
    border: none;
    background: none;
    color: #8e888e;
}
.more td {
    border: 1px solid #eee;
    padding: 0 2px;
}
.hint{
    padding: 0.2rem 0.3rem;
    background: #ffffff;
    margin: 0;
    border-top: solid 1px #eeeeee;
}
.hint li{
    margin-bottom: 0.25rem;
}
.span_title{
    color: #f0a438;
}
.hint li span{
    font-size:0.25rem;
    display: block;
    line-height: 0.4rem;
}
.page-item .pt-d:nth-of-type(2n - 1), .page-item .pt-h:nth-of-type(2n - 1) {
    background-color: #fbfbfb;
}
.page-item .pt-h:first-child {
    border-top: .013333333333333rem solid #c4c4c4;
}
.page-item .pt-d:first-child, .page-item .pt-h:first-child {
    border-top: .013333333333333rem solid #c4c4c4;
}
.page-item .pt-d:last-child, .page-item .pt-h:last-child {
    border-bottom: .013333333333333rem solid #c4c4c4;
}
.page-item .pt-row:last-child {
    padding-right: .306666666666667rem;
}
.page-item .pt-d, .page-item .pt-h {
    border-right: .013333333333333rem solid #c4c4c4;
    line-height: .946666666666667rem;
    height: .946666666666667rem;

}
.pt-img{
    width: .306666666666667rem;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}
